body {
    background-color: #301934;
    font-family:"Roboto Mono", monospace;
    color: #fff;
    font-size:30px;
    text-align: center;
  }

p {
    color: #eggshell transparent;
    font-size: 20px;
    text-align: justify;

 }

  h1 {
    font-family: "Press Start 2P", system-ui;
  }

  h2 {
    font-family: "VT323", system-ui;
    text-align: left;
  }
  
  input:disabled {
    color: #ff4da6;
  }
  
  .glow {
    font-size: 60px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
  .button2 {
    border-radius: 4px;
    background-color: #2AD2C9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    font-family:"VT323", monospace ;
    padding: 20px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
      
      
  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button2:hover span {
    padding-right: 25px;
    
    
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .glow-button2:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(42, 210, 201, 0.8);
  }
  
  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    font-family:"VT323", monospace ;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
    
    
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 115, 71, 0.8);
  }
  
  .button3 {
    border-radius: 4px;
    background-color: #E93CAC;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    font-family:"VT323", monospace;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
      
      
  .button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
  }
  
  .button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.2s;
  }
  
  
  .glow-button3:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(233, 60, 172, 0.95);
  }

  #choice {
    color:antiquewhite;
  }