{% extends "layout.html" %}
{% block title %}Session{% endblock %}
{% block page %}BULLS AND COWS{% endblock %}

{{ super() }}

{% block content %}
    <div class = "row">
    <form action = '/usergame/play/guess/{{game.id}}' method = 'POST'>
    <div class="input-field col s12 m12" style = "display: inline-flex; flex-direction: column;">
       <!--Checks if the game is still ongoing -->
        {%if game.completed == False%}
        <!--Prints previous guesses-->
        <p style="color:rgb(189, 119, 255)">Tries remaining:  {{10 -game.guesses}}</p>
        {%for i in range(game.guesses)%}
        <div>
        <div class="input-field col s12 m12" style = "display: inline-flex;">
          {%for x in range(4)%} 
          <div>
            <input id = "choice" value = "{{game.attempts[(i * 6) + 2 + x]}}"  disabled>
            <datalist>
            </datalist>
          </div>
          {%endfor%}
          <p>&ensp;</p>
          <p style="text-align: center;  line-height: 10px; color:rgb(48, 212, 48);">Bulls:{{game.attempts[(i * 6)]}}</p>
          <p> &ensp;</p>
          <p style="text-align: center; line-height: 10px; color:firebrick;"> Cows:{{game.attempts[((i * 6 )+ 1)]}} </p>
        </div>
        {%endfor%}
        <div class="input-field col s12 m12" style = "display: inline-flex;">
        {%for i in range(0,4)%}
        <div style="align-items: center;">
          <input list = "cho" id = "current-choice" name="n{{i}}" maxlength="1" >
            <datalist id="cho" >
              {%for x in range(0,10)%}
              <option value="{{x}}">
              {%endfor%}
            </datalist>
        
        </div>
        {%endfor%}
          </div>
          
      </div>
      
        
    </div>
  
    <button class="button3 glow-button3"><span>Check</span></button>
  </form>
  
        {%else%}

      </form>
        <!--Checks if the game has been completed-->  
        {%if game.result == True%}
        <h1 class = "glow">VICTORY!</h1>
          {%if game.guesses == 1%}
            <p> You got it in <span style='color: seagreen'>{{game.guesses}} </span> attempt!</p>
            {%else%}
            <p> You got it in <span style='color: seagreen'>{{game.guesses}} </span> attempts!</p>
            {%endif%}
        {%else%}
        <h1 class = "glow">GAME OVER...</h3>
          <p> The code was <span style='color:#12B8FF'>{{game.game.code}}</span>. Try again tomorrow!!</p>

        {%endif%}

        {%for i in range(game.guesses)%}
        <div>
        <div class="input-field col s12 m12" style = "display: inline-flex;">
          {%for x in range(4)%} 
          <div style>
            <input id = "choice" value = "{{game.attempts[(i * 6) + 2 + x]}}"  disabled >
            <datalist >
            </datalist>
          </div>
          {%endfor%}
        <p>&ensp;</p>
        <p style="text-align: center;  line-height: 10px; color: rgb(255, 131, 23);">Bulls:{{game.attempts[(i * 6)]}}</p>
        <p> &ensp;</p>
        <p style="text-align: center; line-height: 10px; color: rgb(24, 228, 255);"> Cows:{{game.attempts[((i * 6 )+ 1)]}} </p>
        </div>
        {%endfor%}
       
        <br>
      </div>
  <div style = "display: inline-flex;">
      <form action = "/">
      &ensp;&ensp;<button class="button"><span style='color:bisque'>Home</span></button>
     </form>
     <form action = "/playHistory">
      <button class="button3"><span style='color:bisque'>History</span></button>
   </form>
      {%endif%} 
  </div> 
      </div>
      

     
    

    
     
  </div>
{% endblock %}