{% extends "layout.html" %}
{% block title %}Session{% endblock %}
{% block page %}Bulls and Cows{% endblock %}

{{ super() }}

{% block content %}
    <p>{{game.game.code}}</p>
    
    <div class = "row">
    <form action = '/usergame/play/guess/{{game.id}}' method = 'POST'>
    <div class="input-field col s12 m12" style = "display: inline-flex; flex-direction: column;">
       <!--Checks if the game is still ongoing -->
        {%if game.completed == False%}
        <!--Prints previous guesses-->
        <p>Tries Remaining:  {{10 -game.guesses}}</p>
        {%for i in range(game.guesses)%}
        <div>
        <div class="input-field col s12 m12" style = "display: inline-flex;">
          {%for x in range(4)%} 
          <div>
            <input id = "choice" list = "choice" value = "{{game.attempts[(i * 6) + 2 + x]}}"  disabled>
            <datalist>
            </datalist>
          </div>
          {%endfor%}
         &nbsp; <p>Bulls : {{game.attempts[(i * 6)]}} Cows : {{game.attempts[((i * 6 )+ 1)]}}</p>
        </div>
        {%endfor%}
        <div class="input-field col s12 m12" style = "display: inline-flex;">
        {%for i in range(0,4)%}
        <div>
          <input id = "current-choice" name="n{{i}}" value = "{{game.attempts[game.attempts|length-4+i]}}"  maxlength="1" >
            <datalist id="choice" >
              {%for x in range(0,10)%}
              <option value="{{x}}">
              {%endfor%}
            </datalist>
           
        </div>
        {%endfor%}
          &nbsp; <p> Bulls : {{game.bulls}} Cows : {{game.cows}}</p>
          </div>
      </div>
      
        
    </div>
  
    <button class="button3 glow-button3"><span>Check</span></button>
  </form>
  
        {%else%}

      </form>
        <!--Checks if the game has been completed-->  
        {%if game.result == True%}
        <h1 class = "glow">VICTORY!</h1>
          {%if game.guesses == 1%}
            <p> You got it in {{game.guesses}} attempt!</p>
            {%else%}
            <p> You got it in {{game.guesses}} attempts!</p>
            {%endif%}
        {%else%}
        <h1 class = "glow">GAME OVER...</h3>
        {%endif%}

        {%for i in range(game.guesses)%}
        <div>
        <div class="input-field col s12 m12" style = "display: inline-flex;">
          {%for x in range(4)%} 
          <div style>
            <input id = "choice" list = "choice" value = "{{game.attempts[(i * 6) + 2 + x]}}"  disabled >
            <datalist >
            </datalist>
          </div>
          {%endfor%}
          &nbsp;<p>Bulls : {{game.attempts[(i * 6)]}} Cows : {{game.attempts[((i * 6 )+ 1)]}}</p>
        </div>
        {%endfor%}
       
        <br>
       
      </div>
      <form action = "/start_game/{{game.game_id}}" >
        <button class="button3 glow-button3"><span style='color:bisque'>Play Again</span></button>
     </form>
      {%endif%} 
      
      </div>
      

     
    

    
     
  </div>
{% endblock %}