{% extends "layout.html" %}
{% block title %}Bulls and Cows{% endblock %}
{% block page %}Bulls and Cows{% endblock %}

{{ super() }}

{% block content %}
    <h1>Bulls and Cows</h1>
    {% if is_authenticated %}
        <p > Welcome {{current_user.username}} </p>
        <p > The game below is BULLS and COWS</p>
        <p > The rules are simple</p>
        <p>The game is current on code {{gameid}} </p>
        <form action = "/usergame/play/{{gameid}}" >
            <input type = "submit" class = "btn-large">
        </form>
    {% endif %}
    

{% endblock %}