{% extends "listLayout.html" %}
{% block title %}Bulls and Cows{% endblock %}
{% block page %}Bulls and Cows{% endblock %}

{{ super() }}

{% block content %}

<div class = "row">
    <section class="col s12 m2" style="margin-top: 5px; overflow-y:scroll; height: 100vh; scrollbar-width: thin">
        <ul style = "background-color: #301934; border-color: #301934;" class="collection">
            {%for i in range(user.games|length) %}
            {%if user.games[i].completed == true%}
            {%if user.games[i].id == id and user.games[i].completed == True%}
            <li>
                <a style="background-color: #301934;" class = "collection-item active green-text" href = '/playHistory/{{user.games[i].id}}'>Game {{i+1}}</a>
            </li> 
            {%else%}
            <li>
                <a  style="background-color: #301934;" class = "collection-item  yellow-text" href = '/playHistory/{{user.games[i].id}}'>Game {{i+1}}</a>
            </li>
            {%endif%}
            {%endif%}
        {%endfor%}
              <!-- student listing here  -->
     
        </ul>
      </section>
    
   

    <div class = "col m9">
        {%if game%}
        {%for i in range(game.guesses)%}
        <div class="input-field col s12 m12" style = "display: inline-flex;">
          {%for x in range(4)%} 
          <div>
            <input  id = "choice" list = "choice" value = "{{game.attempts[(i * 6) + 2 + x]}}"  disabled >
            <datalist >
            </datalist>
          </div>
          {%endfor%}
          &nbsp;<p style="text-align: center; vertical-align: top;  display: inline-flex;"><span style='color:#d6312f'>Bulls: {{game.attempts[(i * 6)]}}</span> <span style='color: #82e6c2'>Cows: {{game.attempts[((i * 6 )+ 1)]}}</span></p>

        </div>
        {%endfor%}
       {%endif%}
    </div>
</div>

{% endblock %}