{% extends "layout.html" %}
{% block title %}Bulls and Cows{% endblock %}
{% block page %}BULLS AND COWS{% endblock %}

{{ super() }}

{% block content %}
<p style="text-align: left"> <span style="text-align: left; font-family: Silkscreen, sans-serif;"> TBD Presents...</span></p>
<div class="container">
    <br>
    <h1 class = "glo">Bulls and Cows</h1>
    {% if is_authenticated %}
        <br>
        {%if current_user.username == 'Munsta' %}
        <h3> Are you ready one of one, KING of kings, GOON OF GOONS...  <span style="text-transform:capitalize">{{current_user.username}}</span> ?</h3>
        {%else%}
        <h3> Are you ready <span style="text-transform:capitalize">{{current_user.username}}</span>?</h3>
        {%endif%}
        
    {% endif %}

    <div style = "display: inline-flex">
        <form action = "/game">
            <button class="button glow-button"><span>Start</span></button>
        </form>

        <form action = "/playHistory">
            <button class="button2 glow-button2" title="history"><i class="material-icons">history</i></button>
        </form>
        
    </div>
</div>
 
{% endblock %}