{% extends "layout.html" %}
{% block title %}Bulls and Cows{% endblock %}
{% block page %}Bulls and Cows{% endblock %}

{{ super() }}

{% block content %}
<h2 style="text-align: left"> <span style="text-align: left;"> TBD Presents...</span></h2>
<div class="container">
    <br> 
    <h1 class = "glow">Bulls and Cows</h1>
    {% if is_authenticated %}
    <br>
        <h3> Are you ready {{current_user.username}}?</h3>
    {% endif %}

    <div style = "display: inline-flex">
        <form action = "/game">
            <button class="button glow-button"><span>Start</span></button>
            

        </form>

        <form action = "/playHistory">
            <button class="button2 glow-button2" title="history"><i class="material-icons">history</i></button>

        </form>
        <a href = "/settings/{{current_user.id}}"><i  class="material-icons">settings</i></a>
    </div>
</div>
 
{% endblock %}