{% extends "layout.html" %}
{% block title %}Bulls and Cows{% endblock %}
{% block page %}TBD{% endblock %}

{{ super() }}

{% block content %}
    <h1 class = "glow">Bulls and Cows</h1>
    {% if is_authenticated %}
        <p> Are you ready {{current_user.username}}?</p>
    {% endif %}
    <form action = "/game">
        <button class="button glow-button"><span>Start</span></button>
        <button class="button2 glow-button2"><i class="material-icons">history</i></button>

    </form>

    
{% endblock %}