{% extends "layout.html" %}
{% block title %}Bulls and Cows{% endblock %}
{% block page %}BULLS AND COWS{% endblock %}

{{ super() }}

{% block content %}
<h2 style="text-align: left"> <span style="text-align: left;"> User Settings</span></h2>
    
    
    <p ><span style="text-align: left;">Change Username</span></p>
    <form action = "/changeUsername" style="display: flex; flex-wrap: nowrap; align-items: center; margin-right: 10px;" method="post">
        
        <div class="input-field"> 
            <input style="font-family:Pixelify Sans, sans-serif; color:white;" placeholder="username" name="username" type="text" size="62" class="validate" required>
        </div>
    &ensp;
        <button class="btn-large"><span style="font-family:Silkscreen, sans-serif">Change Username</span></button>
    </form>
    <p ><span style="text-align: left;">Change Password</span></p>
    <form action = "/changePassword" style="display: flex; align-items: center; margin-right: 10px;" method="post">
        
        <div class="input-field"> 
            <input style="font-family:Pixelify Sans, sans-serif; color:white;" placeholder="password" name="password1" type="password" size="25" class="validate" required>
            
        </div>
        &ensp; &ensp; &nbsp; &ensp; &ensp;
        <div class="input-field"> 
            <input style="font-family:Pixelify Sans, sans-serif; color:white;" placeholder="re-enter password" name="password2" type="password" size="25" class="validate" required >            
        </div>

        &ensp;&ensp;
       
        <button class="btn-large"><span style="font-family:Silkscreen, sans-serif">Change Password</span></button>
    </form>
    <p ><span style="text-align: left;">Delete Account</span></p>
    <div>
        <div style="display: flex; align-items: center; margin-right: 10px;">
            <button onclick="openForm()"class=" btn-large red"><span style="font-family:Silkscreen, sans-serif">Delete Account</span></button>    
        </div>
        
    </div>
   
   
        </head>
        <body>
        
        <div class="form-popup" id="myForm" name = "myForm" style="border-color:#301934">
            <form action = "/deleteAccount" method="get">
                <p ><span style="text-align: left;">Are you sure you want to delete your account?</span></p>
                <button onclick="openForm()"class="open-button btn-large red"><span style="font-family:Silkscreen, sans-serif">YES</span></button>   
                <button type="button" class="open-button btn-large" onclick="closeForm()"><span style="font-family:Silkscreen, sans-serif">NO</span></button>
 
            </form>
            <br>
        </div>
        
        <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>
 
{% endblock %}