{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}Bulls and Cows{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
           
        </p>
    </div>

    <div class="row" >
      <form name = "Signup" class="col s12" method="POST" action="/signup">
      <div class = "row">
        <div class="input-field col s12">
          <input style="font-family:Pixelify Sans, sans-serif; color:white;" placeholder="Username" name = "username" id="username" type="text" class="validate">
          <label for="username">Choose your username!</label>
        </div>
        <div class="input-field col s12">
          <input style="font-family:Pixelify Sans, sans-serif; color:white;" placeholder="password" name="password" type="password" class="validate">
            <label for="password">Create a password</label>
        </div>
        <div class="input-field col s12">
          <input style="font-family:Pixelify Sans, sans-serif; color:white;" placeholder="password" name="password2" type="password" class="validate">
            <label for="password">Re-enter your password</label>
        </div>

      </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right purple" type="submit" name="action" onclick="return BothFieldsIdenticalCaseSensitive();" 
value="Click Me"><span style="font-family:Silkscreen, sans-serif">Submit</span></button>
          </div>
        </div> 

      </form>
    </div>

   
     
      
      

    

{% endblock %}
